* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: Roboto;
}

.mainBody {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#section0 {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(180deg, rgb(247, 247, 247) 0%, rgba(186, 186, 186, 0.75) 100%);
}

.plant2 {
    width: 100vw;
}

.title {
    z-index: 3;
    position: absolute;
    top: 47%;
    left: 100px;
    font-size: 140px;
    font-family: Dancing Script;
    font-weight: 100;
}

.title2 {
    z-index: 3;
    position: absolute;
    top: 62%;
    left: 95px;
    font-size: 100px;
    font-family: Roboto;
    font-weight: 400;
}

.subtitle {
    z-index: 3;
    position: absolute;
    top: 80%;
    left: 100px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 25px;
}

.downArrow {
    z-index: 3;
    position: absolute;
    top: 90%;
    left: 50%;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    margin-bottom: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 11;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    width: 60vw;
    margin: auto;
    text-align: center;
}


/* The Close Button */

.close {
    color: white;
    font-size: 60px;
    font-weight: 400;
    z-index: 101;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.popup {
    cursor: pointer;
}

#secondBox {
    margin-bottom: 100px;
}

#fifthBox {
    margin-bottom: 100px;
}


/* directions */

#section1 {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
    background: linear-gradient(180deg, rgba(186, 186, 186, 0.75) 0%, rgba(255, 253, 251, 0.75) 100%);
}


/* .direction {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
    background: linear-gradient(180deg, rgba(186, 186, 186, 0.75) 0%, rgba(255, 253, 251, 0.75) 100%);
} */

.plant4 {
    position: absolute;
    width: 80%;
    height: auto;
    object-fit: cover;
    z-index: 2;
    bottom: 0;
}

.textbox {
    margin: 0;
    width: 275px;
    height: 200px;
    position: absolute;
    top: 48%;
    left: 37%;
    transform: rotate(20.5deg);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 3;
}

.directions {
    position: relative;
    word-wrap: break-word;
    font-family: Roboto;
    font-weight: 200;
    font-size: 27px;
}


/* section 1 */

.section1 {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 253, 251, 0.75) 0%, rgba(248, 192, 127, 0.5) 100%);
}

.pillows {
    display: flex;
    flex-direction: column;
}

.pillow1,
.pillow2,
.pillow3,
.pillow4,
.pillow5,
.pillow6 {
    position: absolute;
    width: 50%;
    height: auto;
    object-fit: cover;
    top: 25%;
    right: 0;
    z-index: 5;
}

.pillow2 {
    top: 10%;
    z-index: 4;
    right: 15%;
}

.pillow3 {
    top: 60%;
    z-index: 7;
    left: 10%;
}

.pillow4 {
    top: 30%;
    z-index: 6;
    right: 20%;
}

.pillow5 {
    top: 90%;
    z-index: 6;
    left: 20%;
}

.pillow6 {
    top: -30%;
    right: 5%;
}

.book1 {
    position: absolute;
    width: 20%;
    height: auto;
    object-fit: cover;
    top: 25%;
    right: 16%;
    z-index: 9;
}


/* section 2 */

.section2 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(248, 192, 127, 0.5) 0%, rgba(123, 121, 250, 0.75) 100%);
}

.couch1 {
    position: absolute;
    object-fit: cover;
    width: 70vw;
    height: auto;
    margin-top: 400px;
}

.blanket1 {
    z-index: 4;
    position: absolute;
    object-fit: cover;
    width: 20%;
    height: auto;
    margin-top: 500px;
    margin-left: 45%;
}

.book2 {
    position: absolute;
    object-fit: cover;
    width: 16vw;
    height: auto;
    margin-top: 470px;
    margin-left: 36%;
    z-index: 5;
}


/* section 3 */

.section3 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(123, 121, 250, 0.74) 0%, rgba(0, 26, 120, 0.5) 100%);
}

.book3 {
    position: absolute;
    object-fit: cover;
    z-index: 3;
    width: 50%;
    height: auto;
    margin-top: 30%;
    margin-left: 50%;
    bottom: 0;
}


/* section 4 */

.section4 {
    width: 100vw;
    height: 130vh;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(0, 26, 120, 0.5) 0%, #D0D0D0 100%);
}

.book4 {
    position: absolute;
    object-fit: cover;
    z-index: 9;
    width: 50vw;
    height: auto;
    text-align: center;
    vertical-align: center;
    top: 60vh;
    left: 25vw;
    right: 25vw;
}

.coffee {
    position: relative;
    object-fit: cover;
    z-index: 9;
    width: 30vw;
    height: auto;
    text-align: center;
    vertical-align: center;
    top: 60vh;
    left: 38vw;
    right: 39vw;
    -webkit-animation: myOrbit 4s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: myOrbit 4s linear infinite;
    /* Firefox 5-15 */
    -o-animation: myOrbit 4s linear infinite;
    /* Opera 12+ */
    animation: myOrbit 4s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

@-webkit-keyframes myOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(40vw) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(40vw) rotate(-360deg);
    }
}

@-moz-keyframes myOrbit {
    from {
        -moz-transform: rotate(0deg) translateX(40vw) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translateX(40vw) rotate(-360deg);
    }
}

@-o-keyframes myOrbit {
    from {
        -o-transform: rotate(0deg) translateX(40vw) rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg) translateX(40vw) rotate(-360deg);
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(40vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(40vw) rotate(-360deg);
    }
}


/* section 5 */

.section5 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D0D0D0 0%, #FFFFFF 100%);
}

.book5 {
    position: absolute;
    object-fit: cover;
    z-index: 3;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: center;
}

.wrapLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #000;
}

.portfolio {
    position: absolute;
    color: black;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    z-index: 9;
    margin-top: 50px;
}


/* object css */

.books {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 60vh;
    justify-content: space-evenly;
    overflow: scroll;
    z-index: 100;
}

.left {
    width: 40%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 60%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 50px;
    overflow: auto;
}

.bookCover {
    width: auto;
    height: 75%;
    object-fit: cover;
}

.bookTitle {
    font-family: roboto;
    font-size: 4rem;
    color: #666666;
}

.author {
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 2rem;
    color: #b8b8b8;
}

.author:first-of-type {
    font-family: Dancing Script;
    font-size: 2.5rem;
}

.desctiption {
    font-size: 1rem;
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    /* object mobile css */
    .modal {
        width: 100vw;
        height: 100vh;
        padding-bottom: 0;
        margin: 0;
    }
    .modal-content {
        width: 95vw;
        margin: 0 auto;
        height: auto;
    }
    .books {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .left {
        align-items: center;
        height: 100%;
    }
    .right {
        width: 80%;
        margin: 0;
        justify-content: flex-start;
        padding-bottom: 15px;
    }
    .bookCover {
        height: 85%;
    }
    .bookTitle {
        padding-right: 30px;
        font-size: 5rem;
    }
    .author {
        padding-right: 30px;
        font-size: 2.5rem;
    }
    .description {
        padding-right: 30px;
        font-size: 1.5rem;
    }
    #firstBox {
        margin-bottom: 100px;
    }
    #thridBox {
        margin-bottom: 100px;
    }
    #fourthBox {
        margin-bottom: 100px;
    }
    .section1 {
        height: 100vh;
    }
    .section2 {
        height: 150vh;
    }
    .section3 {
        height: 125vh;
    }
    .section4 {
        height: 100vh;
    }
    .section5 {
        height: 130vh;
    }
    /* mainCover */
    .plant12 {
        height: 40vh;
    }
    .title {
        font-size: 100px;
        left: 50px;
        right: 30px;
        top: 40%;
        padding-bottom: 15px;
    }
    .title2 {
        font-size: 75px;
        left: 50px;
        right: 30px;
        padding-bottom: 15px;
        top: 50%;
    }
    .subtitle {
        font-size: 30px;
        left: 50px;
        right: 30px;
        top: 75%
    }
    .downArrow {
        top: 90vh;
        left: 45%;
        right: 45%;
    }
    /* the instructions */
    .plant4 {
        height: 80vh;
        width: 100%;
        z-index: 7;
    }
    .textbox {
        left: 45%;
        top: 48%;
        z-index: 8;
        width: 250px;
        height: 350px;
    }
    .directions {
        font-size: 2rem;
    }
    /* section 1 */
    .pillow1,
    .pillow2,
    .pillow3,
    .pillow4,
    .pillow5,
    .pillow6 {
        width: 130vw;
        top: 25%;
        right: 0;
    }
    .pillow2 {
        display: none;
    }
    .pillow3 {
        top: 60%;
        left: 10%;
    }
    .pillow4 {
        top: 30%;
        right: 20%;
    }
    .pillow5 {
        top: 90%;
        left: 20%;
    }
    .pillow6 {
        top: -20%;
        right: 0;
    }
    .book1 {
        width: 45vw;
        top: 27%;
        left: 13%;
    }
    /* section 2 */
    .couch1 {
        width: 150vw;
        height: auto;
        margin-top: 400px;
    }
    .blanket1 {
        width: 60%;
        height: auto;
        margin-top: 445px;
        margin-left: 45%;
    }
    .book2 {
        width: 40%;
        height: auto;
        margin-top: 425px;
        margin-left: 36%;
    }
    /* section 3 */
    .book3 {
        margin-top: 30%;
        margin-right: 0;
        margin-left: 10vw;
        width: 120vw;
    }
    /* section 4 */
    .book4 {
        width: 90vw;
        top: 60vh;
        left: 0;
        right: 0;
    }
    /* section 5 */
    .book5 {
        bottom: 0;
    }
    .wrapLink {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio {
        font-size: 25px;
        font-weight: 300;
        top: 0;
        text-align: center;
        color: white;
        margin-top: 30vw;
    }
}

@media only screen and (max-width: 600px) {
    /* object mobile css */
    .modal {
        width: 100vw;
        height: 100vh;
        padding-bottom: 0;
        margin: 0;
    }
    .modal-content {
        width: 95vw;
        margin: 0 auto;
        height: auto;
    }
    .books {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .left {
        align-items: center;
        height: 100%;
    }
    .right {
        width: 90%;
        margin: 0;
        justify-content: flex-start;
        padding-bottom: 15px;
    }
    .bookCover {
        height: 85%;
    }
    .bookTitle {
        padding-right: 30px;
        font-size: 4rem;
    }
    .author {
        padding-right: 30px;
        font-size: 2rem;
    }
    .description {
        padding-right: 30px;
        font-size: 1rem;
    }
    #firstBox {
        margin-bottom: 100px;
    }
    #thridBox {
        margin-bottom: 100px;
    }
    #fourthBox {
        margin-bottom: 100px;
    }
    /* mainCover */
    .plant12 {
        height: 40vh;
    }
    .title {
        font-size: 80px;
        left: 30px;
        right: 30px;
        top: 40%;
        padding-bottom: 15px;
    }
    .title2 {
        font-size: 55px;
        left: 30px;
        right: 30px;
        padding-bottom: 15px;
        top: 50%;
    }
    .subtitle {
        font-size: 20px;
        left: 30px;
        right: 30px;
        top: 75%
    }
    .downArrow {
        top: 90vh;
        left: 45%;
        right: 45%;
    }
    /* the instructions */
    .plant4 {
        height: 80vh;
        width: 100%;
        z-index: 7;
    }
    .textbox {
        left: 40%;
        top: 43%;
        z-index: 8;
        width: 200px;
        height: 350px;
    }
    .directions {
        font-size: 1.5rem;
    }
    /* section 1 */
    .pillow1,
    .pillow2,
    .pillow3,
    .pillow4,
    .pillow5,
    .pillow6 {
        width: 130vw;
        top: 25%;
        right: 0;
    }
    .pillow2 {
        display: none;
    }
    .pillow3 {
        top: 60%;
        left: 10%;
    }
    .pillow4 {
        top: 30%;
        right: 20%;
    }
    .pillow5 {
        top: 90%;
        left: 20%;
    }
    .pillow6 {
        top: -20%;
        right: 0;
    }
    .book1 {
        width: 45vw;
        top: 27%;
        left: 13%;
    }
    /* section 2 */
    .couch1 {
        width: 150vw;
        height: auto;
        margin-top: 400px;
    }
    .blanket1 {
        width: 60%;
        height: auto;
        margin-top: 445px;
        margin-left: 45%;
    }
    .book2 {
        width: 40%;
        height: auto;
        margin-top: 425px;
        margin-left: 36%;
    }
    /* section 3 */
    .book3 {
        margin-top: 30%;
        margin-right: 0;
        margin-left: 10vw;
        width: 120vw;
    }
    /* section 4 */
    .book4 {
        width: 90vw;
        top: 60vh;
        left: 0;
        right: 0;
    }
    /* section 5 */
    .section5 {
        height: 100vh;
    }
    .wrapLink {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio {
        font-size: 25px;
        font-weight: 300;
        top: 0;
        text-align: center;
        color: white;
        margin-top: 49vh;
        /* left: 40%;
        right: 40%; */
    }
}