* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

.mainBody {
    width: 100%;
    background-color: #f2f2f2;
}

.plantOne {
    width: 50%;
    z-index: 3;
    transform: rotate(270deg);
    position: relative;
    text-align: right;
}

.verticalLines {
    display: flex;
    flex-direction: row;
}

.one,
.two,
.three,
.four {
    border-right: 1px solid rgb(85, 85, 85);
    width: 25%;
    height: 1000px;
    z-index: 1;
}

.four {
    border: none;
}


/* h2 {
    margin-left: 50px;
    margin-top: 25px;
}

.wrap {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions {
    margin-right: 50px;
    text-align: center;
}

.container {
    width: 60%;
}

.popularArticles {
    padding: 25px;
    background-color: #f2f2f2;
}

.links {
    text-decoration: underline;
    color: rgba(28, 28, 129, 0.6);
}

button {
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.listSpaceMembers {
    background-color: salmon;
} */

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}